In [2]:
twoDim = [[1,2,3],[4,5,6],[7,8,9]]

In [6]:
twoDim[1][1]

5

In [10]:
for i in twoDim:
    for k in i:
        print(k)

1
2
3
4
5
6
7
8
9

In [12]:
minaNamn = 'Erik Alf Lauri Jagre'

In [24]:
for i in minaNamn:
    print(i,end='')

Erik Alf Lauri Jagre

In [26]:
import os
print(os.getcwd())

C:\WinPython\extract\WPy64-39100\notebooks\docs

In [29]:
f = open('sales.txt')

salesLista = []

for line in f:
    #print(line)
    salesLista.append(line)

print(f'salesLista : {salesLista}')
f.close()

salesLista : ['månad\tnetto\n', 'Januari\t150\n', 'Februari\t300\n', 'Mars\t175\n', 'april\t25\n', 'maj\t0\n', 'juni\t600\n', 'juli\t500\n', 'augusti\t325\n', 'september\t3\n', 'oktober\t65\n', 'november\t123\n', 'december\t425']

In [31]:
with open('sales.txt') as f:
    salesLista = []

    for line in f:
        #print(line)
        salesLista.append(line)

    
    print(f'salesLista : {salesLista}')

salesLista : ['månad\tnetto\n', 'Januari\t150\n', 'Februari\t300\n', 'Mars\t175\n', 'april\t25\n', 'maj\t0\n', 'juni\t600\n', 'juli\t500\n', 'augusti\t325\n', 'september\t3\n', 'oktober\t65\n', 'november\t123\n', 'december\t425']

In [40]:
uddaNummer = list(range(100,-1,-10))
print(uddaNummer)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [50]:
print(minaNamn)
minaNamn[::2]

Erik Alf Lauri Jagre

'Ei l ar ar'

In [55]:
for i in range(1000,1051,5):
    print(i)

1000
1005
1010
1015
1020
1025
1030
1035
1040
1045
1050

In [58]:
salesLista[5] = True

In [65]:
enAnnanLista = salesLista
enAnnanLista[1] = 'month\tbrutto'
print(salesLista)

['månad\tnetto\n', 'month\tbrutto', 'Februari\t300\n', 'Mars\t175\n', 'april\t25\n', True, 'juni\t600\n', 'juli\t500\n', 'augusti\t325\n', 'september\t3\n', 'oktober\t65\n', 'november\t123\n', 'december\t425']

In [92]:
minTuple = ('månad\tnetto\n', 'month\tbrutto', 'Februari\t300\n')
print(minTuple)

('månad\tnetto\n', 'month\tbrutto', 'Februari\t300\n')

In [99]:
person1 = ['Erik',44,'man']
person2 = ['Lisa', 8,'kvinna']
person2[1] = 'Anna'
person2

['Lisa', 'Anna', 'kvinna']

In [120]:
person = {'namn':'Erik','age':44,'isMale':True}
person

{'namn': 'Erik', 'age': 44, 'isMale': True}

In [116]:
print(f"namn: {person1['namn']}")
print(f"age: {person1['age']}")
print(f"isMale: {person1['isMale']}")

namn: Erik
age: 44
isMale: True

In [118]:
a = 'frukt'
b = 'banan'
a + b

'fruktbanan'

In [121]:
#gör så länge som inmatat namn inte är 0
    #mata in namn
    #mata in ålder
    #lagra i en dictionary
    #'appenda' dictionary till lista
#skriv ut listan med alla Dictionarys

In [126]:
personLista = []

while True:
    person = {'namn':'','age':0}
    person['namn'] = input('tell me your name:')
    if len(person['namn']) <= 1:
        break
    person['age'] = input('tell me your age:')
    print(person)
    personLista.append(person)
    
print(personLista)

tell me your name:erik
tell me your age:44
{'namn': 'erik', 'age': '44'}
tell me your name:arne
tell me your age:55
{'namn': 'arne', 'age': '55'}
tell me your name:kalle
tell me your age:10
{'namn': 'kalle', 'age': '10'}
tell me your name:
[{'namn': 'erik', 'age': '44'}, {'namn': 'arne', 'age': '55'}, {'namn': 'kalle', 'age': '10'}]